.popup__submit-button_inactive {
  border: 1px solid rgba(0, 0, 0, .2);
  color: rgba(0, 0, 0, .5);
  background: #ffffff;
}

.popup__submit-button_inactive:hover {
  opacity: 1;
  transition: none;
}
