.page {
  max-width: 882px;
  /* max-width: 1280px; */
  margin: auto;
  font-family: 'Inter';
  font-weight: normal;
  background: #000000;
}

@media screen and (max-width: 1279px) {
  .page {
    max-width: 320px;
  }
}

@media screen and (min-width: 320px) {
  .page {
    min-width: 320px;
  }
}
