.close-image {
  position: absolute;
  width: 57px;
  height: 57px;
  right: -45px;
  top: -45px;
}

.close-image:hover {
  opacity: 0.6;
  cursor: url(../../images/hand.png), pointer;
}

@media screen and (max-width: 1279px) {
  .close-image {
    width: 38px;
    height: 38px;
    right: 0;
    top: -50px;
  }
}
