.form-edit__input-name {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 358px;
  height: 27px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-right: none;
  border-left: none;
  outline-style: none;
  padding: 0;
  margin-left: 36px;
  margin-top: 46px;
}

@media screen and (max-width: 1279px) {
  .form-edit__input-name {
    width: 238px;
    margin-left: 22px;
    margin-top: 67px;
  }
}
