.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 133%;
  margin: 0;
  overflow : hidden;
  white-space : nowrap;
  max-width: 521px;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1279px) {
  .profile__name {
    font-weight: 500;
    font-size: 27px;
    line-height: 207%;
    text-align: center;
    padding-top: 15px;
    max-width: 248px;
  }
}
