.element {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(auto, auto) 1fr;
  background: #FFFFFF;
  border-radius: 10px;
  margin: auto;
}

@media screen and (max-width: 1279px) {
  .element {
    max-width: 282px;
  }
}
