.card {
  display: grid;
  position: relative;
  grid-auto-rows: minmax(auto, auto) 1fr;
  background: #FFFFFF;
  border-radius: 10px;
  margin: auto;
}

@media screen and (max-width: 1279px) {
  .card {
    max-width: 282px;
  }
}
